<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/TarekRaafat/autoComplete.js@4.0.0/dist/css/autoComplete.min.css">
    <link rel="stylesheet" type="text/css" href="./index.css">
</head>

<body>
    <div class="root" align="center">
        <header class="header">
            <h1>Looking for something?</h1>
        </header>
        <input autocomplete="off" type="text" name="name" id="autoComplete" tabindex="1">
        <br>
        <br>
        <br>
        <br>
        <form>
        <label>
            Auto-scaled Graph
            <input type="radio" onchange="changeGraph()" name="graph-check" value="autoscaled" checked>
        </label>
        <label>
            Zero-anchored Graph
            <input type="radio" onchange="changeGraph()" name="graph-check" value="zeroanchored">
        </label>
        </form>
        <br>
        <div class="flex-container">
                <img id="autoscaled-graph" class="flex-image" src="data:image/png;base64,<%- image %>" alt="nice">
                <img id="zeroanchored-graph" class="flex-image" src="data:image/png;base64,<%- imagezeroanchored %>" alt="nice">
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/gh/TarekRaafat/autoComplete.js@4.0.0/dist/js/autoComplete.js"></script>
    <script src="./index.js"></script>
</body>

